body {
	/*background-image: url("colored-paper2edit.jpg");*/
	/*background-size: cover;*/
    /*background-color: #cccccc;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c15e7c+1,f6f7b2+49,e89a6d+100 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c15e7c+1,f6f7b2+49,e89a6d+100 */
/*background: #c15e7c; /* Old browsers */
/*background: -moz-linear-gradient(-45deg, #c15e7c 1%, #f6f7b2 49%, #e89a6d 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(-45deg, #c15e7c 1%,#f6f7b2 49%,#e89a6d 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(135deg, #c15e7c 1%,#f6f7b2 49%,#e89a6d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c15e7c', endColorstr='#e89a6d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */*/
	background: #FF5F6D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-attachment: fixed;
}

.container-fluid {
	padding: 0px !important;
}


.headertext {
	margin-top: 30px;
}

.name {
	font-size: 33pt;
	font-family: 'Abel', sans-serif;
}

.title {
	font-size: 14pt;

}

.ellinorprofil {
	width: 100%;
	margin-bottom: 20px;
	border-style: double;
	border-width: 5px;
	border-color: #222;
}

.navbar {
	position: fixed !important;
	width: 100% !important;
	top: 0;
}

.navbar-brand {
	font-family: 'Megrim', cursive;
	font-size: 23pt !important;
}

.leftdiamonds {
	width: 15vw;
	position: absolute;
	left: 0;
	margin-top: 20px;
	z-index: -1;
}

.rightdiamonds {
	width: 15vw;
	position: absolute;
	right: 0;
	margin-top: 20px;
	z-index: -1;
}


.wanted-header {
	margin-top: 70px;
	text-align: center;
	font-family: 'Vast Shadow', cursive;
}

.about-box {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 4px;
	/*border-color: #222;*/
	/*border-width:4px;  */
    /*border-style:dotted;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-content {
	padding: 10px;
}

#Work {
	margin-top: 20px;
}

.work-header {
	font-family: 'Lobster', cursive;
	text-align: center;
}

.subject {
	font-weight: bold;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
}

/* Add some padding inside the card container */
.card-container {
    padding: 15px 16px;
    background-color: rgba(255, 255, 255, 0.8); 
}

.work-image {
	background-color: white;
	width: inherit;
}

.work-card {
	padding: 50px !important;
}

.websiteButton {
	text-align: center;
	margin-top: 10px;
}

.art-header {
	font-family: 'Amatic SC', cursive;
	text-align: center;
}

.about {
	text-align: left;
	font-size: 14pt;
	font-family: 'Inconsolata', monospace;
}

.about-subject {
	font-weight: 900;
	color: black;
}

.about-row {
	margin-top: -8px;
}

.Contact {
	margin-top: 20px;
	position: relative;
}

.contactHeader {
	font-size: 16pt;
	margin-bottom: 20px;
}

.contacts {
	margin-top: 5px;
}

.contacticons {
	margin-top: 10px;
	text-align: center;
}

.contacticon {
	margin: 10px;
}

#linkedin {
	height: 45px;
	border-radius: 10px;
}

#mail {
	height: 45px;
	border-radius: 10px;
}

#cv {
	height: 65px;
}

#github {
	height: 45px;
	border-radius: 10px;
}

.mailadress {
	font-size: 11pt;
	text-align: center;
}
/*#mainscreen {
	position: relative;
	height: 100%;
	overflow-y: scroll;
	float: right !important;
}*/

.contentHeader {
	text-align: center;
	margin-top: 30px;
}

#Art {
	margin-bottom: 40px;
}

.carousel-inner > .item > img {
	    margin: 0 auto;
	    background-color: white;
}

.sundiv {
	width: 100%;
	text-align: center;
}

.sun {
	width: 30%;
}

.footer {
	width: 100%;
	bottom: 0;
	position: fixed !important;
	background-color: #222;
	height: 30px;
	text-align: center;
	color: #9d9d9d;
}

.footer-text {
	text-align: center;
	color: #9d9d9d;
}

/* Small screens */
@media all and (max-width: 500px)
 {
   .navbar-brand {
   		font-size: 20pt !important;
   }

   .about-box {
   		margin-left: 0px !important;
   		margin-right: 0px !important;
   }
 }

/* Small and mediun screens */
  @media all and (max-width: 1024px)
 {
	.about-box {
   		margin-left: 0px !important;
   		margin-right: 0px !important;
   }
 }

/* Big screens */
 @media all and (min-width: 1025px)
 {
   #mainscreen {
		padding-right: 95px !important;
		padding-left: 95px !important;
	}

	.wanted-header {
		margin-top: 100px;
	}

	.carousel {
		height: 70vh !important;
	}

	.carousel-inner {
		height: 100%;
	}

	.item {
		height: 100% !important;
	}

	.art-item {
		height: 100% !important;
	}
 }