body {
}

.container-fluid {
	padding: 0px !important;
}

.navsidebar {
	background-color: black;
	color: white;
	height: 100vh;
	position: fixed !important;

}

.headertext {
	margin-top: 30px;
}

.name {
	font-size: 33pt;
	font-family: 'Abel', sans-serif;
}

.title {
	font-size: 14pt;

}

.ellinorprofil {
	height: 280px;
	margin-top: 30px;
}

#scrollnav {
	position: absolute;
	right: 0;
	font-size: 9pt;
	margin-top: -250px;
}

.Contact {
	margin-top: 20px;
	position: relative;
}

.contactHeader {
	font-size: 16pt;
	margin-bottom: 20px;
}

.contacts {
	margin-top: 5px;
}

.contacticons {
	margin-top: 25px;
	text-align: center;
}

.contacticon {
	margin: 10px;
}

#linkedin {
	height: 35px;
	border-radius: 10px;
}

#mail {
	height: 35px;
	border-radius: 10px;
}

#instagram {
	height: 35px;
}

#github {
	height: 35px;
	border-radius: 10px;
}

#mainscreen {
	position: relative;
	height: 100%;
	overflow-y: scroll;
	float: right !important;
}

.contentHeader {
	font-size: 23pt;
	font-family: 'Abel', sans-serif;
	text-align: center;
}

#About {
	height: 100vh;
	padding-top: 30px;
}

#Works {
	height: 100vh;
	padding-top: 30px;

}

#Skills {
	height: 100vh;

}

#References {
	height: 100vh;

}


.workcard {
	margin-top: 30px;
	padding: 10px;
}

.workHeader {
	font-size: 16pt;
	font-family: 'Abel', sans-serif;
}

.workText {
	font-size: 12pt;
}